.main {
  padding: 80px 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainContainer {
  margin-top: 32px;
  padding: 12px 0;
  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: center;
  width: 1012px;
  background-color: var(--bg);
  clip-path: polygon(2% 0, 100% 0, 100% 99.5%, 98% 100%, 0 100%, 0 0.5%);
}

.leaderboard {
  width: 700px;
}

.leaderboardHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  font-family: var(--connect);
  color: var(--g);
  padding: 13px 0;
  margin: 18px 32px;
  font-size: 18px;

  width: 640px;
  border-bottom: 1px solid #292929;
}

.leaderboardHeaderLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 45px;
}

.leaderboardHeaderRight {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 160px;
}

.leaderboardHeaderItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;

  font-family: var(--connect);
  color: var(--g);
  font-size: 18px;
}

.sidebar {
  /* display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center; */
  width: 268px;
}

.sidebarHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  font-family: var(--connect);
  color: var(--g);
  padding: 16px 0;
  margin: 18px 32px;

  font-size: 18px;

  width: 229px;
  border-bottom: 1px solid #292929;;
}

.joinContainer {
  padding: 0 32px 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 268px;
}

.joinRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 12px;
}

.joinInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2px;
  font-size: 12px;
}

.joinIcon {
  margin-right: 12px;
}

.joinIcon img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.joinNameContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
}

.joinName {
  text-transform: uppercase;
}

.joinSubline {
  color: var(--supporting-w-40, rgba(250, 245, 233, 0.4));
}

.joinSubline span {
  text-transform: uppercase;
}

.invite {
  width: 254px;
  height: 432px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;

  background: url("/assets/graphics/people.gif") no-repeat center center;
  background-size: cover;
}

.inviteHeader {
  color: var(--g, #42ff60);
  text-align: center;
  font-family: var(--connect);
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 100% */
  text-transform: uppercase;
}

.inviteButton {
  display: flex;
  width: 148px;
  padding: 12px 0px;
  justify-content: center;
  align-items: center;
  color: #000;
  text-transform: uppercase;

  border-radius: var(--corner4, 4px);
  background: var(--g, #42ff60);
  box-shadow: 0px 0px 24px 0px rgba(255, 97, 239, 0.7);
}

.inviteButton:hover {
  animation: shake 0.5s infinite ease-in-out;
}

.inviteSubheader {
  color: var(--g, #42ff60);
  text-align: center;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 114.286% */
}

@media only screen and (max-width: 600px) {
  .main h1 {
    font-size: 36px;
  }
  .sidebar {
    display: none;
  }

  .mainContainer {
    width: 400px;
    overflow: scroll;
  }

  .leaderboard {
    width: 400px;
  }
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02); /* Adjust scale value for bigger/smaller pulse */
  }
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-5px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(5px);
  }
}