.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1012px;
  flex-shrink: 0;
  background-color: var(--bg);
}

.titleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: var(--connect);
  font-size: 28px;
  color: var(--g);
  text-transform: uppercase;

  width: 1012px;
  padding: 30px 16px 18px;
}

.percentageTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6px;

  color: var(--p);
}

.boostContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 0 0 30px;
}

.boostBar {
  width: 95px;
  height: 6px;
  flex-shrink: 0;
  border-radius: var(--corner4, 4px);
  background: var(--b, #000);
  box-shadow: 0 0 10px;
  color: #23ee43;
  animation: pulse 2s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 5px;
  }
  50% {
    box-shadow: 0 0 20px;
  }
  100% {
    box-shadow: 0 0 5px;
  }
}
