.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  gap: 6px;
}

.container {
  padding-bottom: 40px;
}

.title {
  margin-top: 80px;
  margin-bottom: 32px;
}

.section {
  margin: 6px 0;
  width: 1012px;
  background-color: #1f1f1f;
  padding: 32px;
}

.section h2 {
  color: var(--g, #42ff60);
  text-align: center;
  font-family: var(--connect);
  font-size: 28px;
  text-transform: uppercase;
}

.longContainer {
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.longBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  gap: 12px;
}

.longBlocKTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--g);
  gap: 12px;
}

.video {
  width: 941px;
  height: 525px;
  margin-top: 55px;
}

.columnContainerWrapper {
  display: flex;
  justify-content: center;
  gap: 48px;
}

.columnContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 12px;
}

.leftTitleContainer {
  display: flex;
  align-items: center;
  gap: 135px;
}

.leftTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.leftTitle p {
  color: var(--g);
  font-family: var(--connect);
  font-size: 28px;
  text-transform: uppercase;
}

.subText {
  color: var(--p, #ff61ef);
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
}

.bottomText {
  color: var(--g, #42ff60);
  text-align: center;
  font-family: var(--connect);
  font-size: 28px;
  text-transform: uppercase;
}

.numberTitle {
  color: var(--g);
  font-size: 14px;
  text-transform: uppercase;
}

.text {
  color: var(--w, #faf5e9);
  font-size: 14px;
}

.additionalInfo {
  display: flex;
  flex-direction: flex-start;
  align-items: center;
  gap: 16px;
  color: var(--p);
}

.graphicsContainer {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.infoContainer {
  margin: 16px auto;
  width: 510px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infoText {
  width: 360px;
  text-align: center;
  font-size: 14px;
}

.noticeContainer {
  margin: 52px auto;
  width: 449px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.noticeTitle {
  color: var(--g);
}

.noticeText {
  font-family: var(--connect);
  color: var(--g);
  text-align: center;
  font-size: 18px;
}

.noticeContainer img {
  margin-top: 16px;
}

@media only screen and (max-width: 600px) {
  .title h1 {
    margin-top: 100px;
    font-size: 48px;
  }

  .longContainer {
    display: none;
  }

  .video {
    width: 370px;
    height: 200px;
    margin: 32px auto;
  }

  .video video {
    width: 370px;
    height: 200px;
  }

  .section {
    width: 375px;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
  }

  .columnContainerWrapper {
    flex-direction: column;
    width: 375px;
  }

  .columnContainer {
    align-items: center;
    width: 375px;
    padding: 0 16px;
  }
  
  .leftTitleContainer {
    margin-top: 32px;
    gap: 48px;
  }

  .columnContainer p {
    text-align: center;
  }

  .bottomText {
    font-size: 24px;
  }

  .graphicsContainer {
    display: none;
  }

  .infoContainer {
    width: 375px;
    gap: 16px;
  }

  .infoContainer img {
    display: none;
  }

  .noticeContainer {
    width: 375px;
  }

  .section h2 {
    font-size: 24px;
  }

  .infoContainer {
    width: 375px;
    padding: 8px;
  }
}
