.main {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 16px;
}

.container {
    display: flex;
    flex-direction: column;
    color: var(--g3);
    font-size: 14px;
    line-height: 16px;
    gap: 12px;
}

.link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--g);
}

.copy {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    text-align: center;
    color: var(--g3, #373737);
    z-index: -1;
    margin-bottom: 16px;
}

@media only screen and (max-width: 600px) {
    .main {
        margin: 16px 16px 32px;
    }
}