.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

.scrollable {
  overflow-y: auto;
  flex-grow: 1;
  margin-bottom: 63px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin: 0 16px;
  padding: 0 0 9px;
  font-family: var(--connect);
  color: var(--g);
  font-size: 18px;
  border-bottom: 1px solid #292929;
}

.leftColumn {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 250px;
}

.middleColumn {
  display: flex;
  align-items: center;
  gap: 20px;
}

.rightColumn {
  display: flex;
  align-items: center;
  gap: 12px;
}

.filterIcon {
  cursor: pointer;
}

.leaderboardRow {
  padding: 10px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  font-size: 18px;
  text-transform: uppercase;
}

.sponsorInfo {
  display: flex;
  align-items: center;
  width: 220px;
}

.sponsorRank {
  color: var(--g);
  font-family: var(--connect);
  font-style: normal;
  font-weight: 400;
  width: 50px;
}

.sponsorMarker {
  width: 40px;
  margin-right: 12px;
}

.sponsorImage {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 20px;
  border: 1px solid var(--p);
}

.sponsorNameContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2px;
}

.sponsorScoreContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;

  color: var(--g);

  width: 100px;

  font-family: var(--connect);
  font-size: 18px;
}

.sponsorName {
  display: flex;
  align-items: center;
  font-family: var(--diatype);
  font-size: 14px;
  text-transform: uppercase;
  gap: 6px;
  color: var(--p);
}

.holdingsButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13px;

  font-family: var(--connect);
  color: var(--g);
  font-size: 18px;
  background: none;
  border: none;
  cursor: pointer;
}

.holdingsContainer {
    padding: 0 0 0 20px;
}

.spacer {
  margin: 0 16px;
  border-bottom: 1px dotted var(--g3, #373737);
}

.green {
  color: var(--g);
}

.dot {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--g2);
}
