.main {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 16px;
}

.leftCard {
  width: 498px;
  height: 696px;
  background-color: var(--g);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  clip-path: polygon(3% 0, 100% 0, 100% 97%, 97% 100%, 0 100%, 0 3%);
}

.topContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 32px 0 0;
  width: 100%;
}

.topContent h1 {
  font-size: 64px;
  color: var(--b);
}

.topContent h2 {
  font-size: 14px;
  color: var(--b);
  text-align: center;
}

.topContent p {
  color: var(--b);
  font-size: 14px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.roundedCard {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: var(--connect);
  background-color: var(--b);
  color: var(--g);
  font-size: 28px;
  text-transform: uppercase;
  border-radius: 80px;
}

.blur {
  filter: blur(5px);
}

.bottomContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 36px 0;
  width: 100%;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  text-transform: uppercase;
}

.bottomCard {
  /* margin: 0 0 32px;; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 24px;
  gap: 6px;
  background-color: var(--b);
  color: var(--p);
  font-size: 14px;
  clip-path: polygon(3% 0, 100% 0, 100% 88%, 97% 100%, 0 100%, 0 12%);
}

.rightCard {
  width: 498px;
  height: 696px;
  border: 1px solid var(--g);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* clip-path: polygon(3% 0, 100% 0, 100% 97%, 97% 100%, 0 100%, 0 3%); */

  background-image: url("/assets/graphics/hunter.gif");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.tagline {
  margin: 0 0 36px 0;
  font-size: 14px;
  color: var(--g);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.button {
  border-radius: var(--corner4, 4px);
  background: var(--g, #42ff60);
  border: none;
  padding: 22px 77px;
  color: var(--b, #000);
  font-size: 16px;
  font-family: var(--diatype);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 8px;
  box-shadow: 0 0 30px var(--p);
  /* animation: pulse 2s infinite ease-in-out; */

  transition: transform 0.2s;
  animation: pulse 1s ease-in-out infinite;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05); /* Adjust scale value for bigger/smaller pulse */
  }
}

@media only screen and (max-width: 1000px) {
  .container {
    flex-direction: column;
    gap: 24px;
  }

  .rightCard {
    border: none;
  }

  .topContent h1 {
    font-size: 50px;
  }
}
