.overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 530px;
  height: 100%;
  background-color: var(--b);
  z-index: 100;
  transition: margin 0.3s ease;
}

.titleBar {
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 16px;
}

.title {
  font-family: var(--connect);
  color: var(--g);
  font-size: 18px;
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.componentContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

.prizeTotal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0 32px;
}

.prizeTotalLabel {
  font-size: 14px;
  color: var(--g);
  margin-bottom: -18px;
  text-transform: uppercase;
}

.prizeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.prizeAmountContainer {
  margin: 0 -130px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.prizeTotalAmount {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: var(--connect);
  font-size: 34px;
  color: var(--g);
  gap: 6px;
  width: 200px;
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 247px;
  height: 68px;
  flex-shrink: 0;
  border-radius: var(--corner4, 4px);
  background: #1f1f1f;
  font-family: var(--connect);
  text-transform: uppercase;
  color: var(--w);
  cursor: pointer;
}

.selected {
  background: var(--g, #42ff60);
  color: var(--b);
}

.gameEnding {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100vw + 20px);
  height: calc(100vh + 20px);
  margin: -10px;
  z-index: 150000;
  border: 20px solid var(--p, #ff61ef);
  filter: blur(10px);
  pointer-events: none; /* Allows interaction with the content inside the border */
  animation: strobing 2s infinite;
}

.transactionSuccess {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100vw + 20px);
  height: calc(100vh + 20px);
  margin: -10px;
  z-index: 150000;
  border: 20px solid var(--g, #ff61ef);
  filter: blur(10px);
  pointer-events: none; /* Allows interaction with the content inside the border */
  animation: strobing 2s infinite;
}

.closeButton {
  cursor: pointer;
}

@keyframes strobing {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.transactionsContainer {
  margin: 0 24px;
}

.lastGameContainer {
  width: 100%;
  margin: 32px 0 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
}

.lastGameTitle {
  font-family: var(--connect);
  color: var(--g);
  font-size: 34px;
  text-transform: uppercase;
}

.lastGameSubline {
  font-size: 18px;
  font-family: var(--connect);
  color: var(--g);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: top;
  gap: 2px;
}

.pink {
  color: var(--p);
}

.grey {
  color: var(--g3, #373737);
}
