.main {
  position: fixed;
  top: 24px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.container {
  display: flex;
  align-items: center;
  gap: 16px;
  color: var(--p);
  border: 1px solid var(--g);
  border-radius: var(--corner4, 4px);
  padding: 8px 16px;
}
