.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 32px 0;
}

.title {
  margin: 32px;
}

.container {
  margin: 3px 0;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--bg);

  width: 1012px;
  clip-path: polygon(2% 0, 100% 0, 100% 92%, 98% 100%, 0 100%, 0 8%);
}

.number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  flex-shrink: 0;
  background: var(--b);
  border-radius: 50%;

  color: var(--g, #42ff60);
  text-align: center;
  font-family: var(--connect);
  font-size: 28px;
  text-transform: uppercase;
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: var(--w, #faf5e9);
  text-align: center;

  /* body 14—16 */
  font-size: 14px;
  line-height: 16px;
  width: 500px;
  /* margin: 32px; */
}

.graphicContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  gap: 12px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 32px 0;
    
}

/* MOBILE STYLES */
@media only screen and (max-width: 600px) {
    .title {
        font-size: 36px;
        line-height: 36px;
        margin-top: 50px;
    }
    .container {
        width: 100%;
        clip-path: none;
    }
    
    .titleContainer {
        width: 100%;
        padding: 0 16px;
    }
    
    .number {
        width: 40px;
        height: 40px;
        font-size: 24px;
    }
    
    .titleContainer {
        font-size: 12px;
        line-height: 14px;
        width: 100%;
    }
    
    .graphicContainer {
        flex-direction: column;
        gap: 16px;
    }
}