/* Chat.module.css */

.container {
  margin: 20px 0;
  width: 419px;
  height: calc(100vh - 300px);
  display: flex;
  position: fixed;
  bottom: 100px;
  left: 16px;
  transition: all 0.3s ease-in-out;
}

.chatMessages {
  overflow-y: auto;
  width: 100%;
  /* padding: 6px; */
  position: relative;
  height: calc(100vh - 320px);

  /* Apply a mask for the fade effect */
  -webkit-mask-image: linear-gradient(to bottom, transparent, black 100px);
  mask-image: linear-gradient(to bottom, transparent, black 100px);
}

.chatMessageContainer {
  margin-bottom: 2px;
  padding: 10px 12px;
  width: 419px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  border-radius: var(--corner4, 4px);
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
}

.chatMessageInfo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 12px;
}

.chatMessageImageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.chatMessageImage {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid var(--p);
}

.chatMessageName {
  margin-left: -4px;
  color: var(--p);
  text-transform: uppercase;
  font-size: 14px;
}

.chatMessage {
  margin-top: 4px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 114.286% */
}

.chatMessageTimestamp {
  margin-left: 4px;
  color: rgba(255, 255, 255, 0.4);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 100% */
}

.chatInputContainer {
  position: fixed;
  bottom: 55px;
  left: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px;
  width: 420px;
  background: rgba(0, 0, 0, 1);
  backdrop-filter: blur(3px);
  border-radius: var(--corner4, 4px);
  transition: all 0.3s ease-in-out;
}

.chatInput {
  width: 380px;
  height: 50px;
  padding: 14px 12px;
  border: none;
  border-radius: 0;
  outline: none;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  color: #fff;
  font-family: var(--diatype);
  font-size: 14px;
  resize: none;
}

.chatInput::placeholder {
  color: var(--w);
}

.chatSendButton {
  width: 100px;
  height: 50px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: var(--b);
  color: var(--g);
  font-family: var(--diatype);
  font-size: 14px;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;

  /* border: 1px solid red; */
}

.chatCloseButton {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  bottom: 18px;
  left: 375px;
  gap: 6px;
  font-size: 14px;

  color: var(--g);
  text-transform: uppercase;
  background: none;
  border: none;
  cursor: pointer;
}

.closedContainer {
  display: flex;
  width: 419px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.messageCount {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--b);
  position: relative;
  bottom: -56px;
  left: 370px;
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  background: var(--g);
  border-radius: 50%;
  z-index: 1000;
}

.closedAnimation {
  position: fixed;
  bottom: 55px;
  left: 16px;
  transition: all 0.3s ease-in-out;
}

.transactionMessageContainer {
  margin-bottom: 2px;
  padding: 10px 12px;
  width: 419px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  border-radius: var(--corner4, 4px);
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  cursor: pointer;
}

.transactionMessageInfo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  color: var(--p, #ff61ef);
  font-size: 12px;
  line-height: 14px;
}

.clickable {
  cursor: pointer;
}